"*":
  "atom-beautify":
    general:
      _analyticsUserId: "63ae4c03-1ec4-4183-b953-41fa504e53c3"
      analytics: false
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "metrics"
      "wrap-guide"
      "exception-reporting"
    ]
    telemetryConsent: "no"
    titleBar: "custom"
  editor:
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "file-icons": {}
  minimap: {}
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    removeTrailingWhitespace: true
